{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Branch Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Webcreative" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{%static 'admin-assets/images/favicon.ico'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Css -->
    <link href="{%static 'admin-assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{%static 'admin-assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{%static 'admin-assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tiny.cloud/1/x0oip2hh211w1ogmo5l01k0txqgbsssky3gak5fh45tu667o/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://cdn.tiny.cloud/1/x0oip2hh211w1ogmo5l01k0txqgbsssky3gak5fh45tu667o/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
</head>

<body data-sidebar="dark" data-layout-mode="light">
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">

                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="/branch-home" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{%static 'ngo-logo2.png'%}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{%static 'ngo-logo2.png'%}" alt="" height="17">
                            </span>
                        </a>

                        <a href="/branch-home" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{%static 'ngo-logo2.png'%}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{%static 'ngo-logo2.png'%}" alt="" height="60">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block " method="post">
                        {%csrf_token%}
                        <div class="position-relative d-flex">
                            <input type="date"name="from_date" class="form-control" style="width:200px !important" required>
                            <input type="date"name="to_date" class="form-control" style="width:200px !important" required>
                            <button type="submit" class="btn btn-primary p-1 " >Search</button>
                            <span class="bx bx-search-alt"></span>
                        </div>
                    </form>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            data-bs-toggle="fullscreen">
                            <i class="bx bx-fullscreen"></i>
                        </button>
                    </div>



                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user"
                                src="{%static 'admin-assets/images/users/avatar-1.jpg'%}" alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry">{{request.user.username}}</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->


                            <a class="dropdown-item text-danger" href="/logout"><i
                                    class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                    key="t-logout">Logout</span></a>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="bx bx-cog bx-spin"></i>
                        </button>
                    </div>

                </div>
            </div>
        </header>


        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" key="t-menu">Menu</li>
                        <li>
                            <a href="/branch-home">
                                <i class="bx bx-home"></i>
                                Home
                            </a>
                        </li>
                        <li><a href="/branch-total-receipt">Total Receipt</a></li>
                        <li><a href="/employee">Employee</a></li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                     <div class="row">

                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium text-center"> Total</p>
                                                    <h4 class="mb-0 text-center">{{tt}}</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center">
                                                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                                        <span class="avatar-title">
                                                            <i class="bx bx-copy-alt font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium text-center">Shift-1</p>
                                                    <h4 class="mb-0 text-center">{{s1}}</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center ">
                                                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="bx bx-archive-in font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium text-center">Shift-2</p>
                                                    <h4 class="mb-0 text-center">{{s2}}</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center ">
                                                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="bx bx-archive-in font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>

                                <div class="col-md-3">
                                    <a href="#">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="text-muted fw-medium text-center">Shift-3</p>
                                                    <h4 class="mb-0 text-center">{{s3}}</h4>
                                                </div>

                                                <div class="flex-shrink-0 align-self-center ">
                                                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="bx bx-archive-in font-size-24"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            </div>
                            <!-- end row -->


                        </div>
                    </div> 
                    <!-- end row -->

                    <div class="row">

                    </div>
                    <!-- end row -->
                    {%block body%}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4 text-center">Total Receipt<span><a href="/add-branch-receipt"> &nbsp;<i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </span></h4>
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="align-middle">Operator Class</th>
                                                    <th class="align-middle">Vehicle No.</th>
                                                    <th class="align-middle">Amount</th>
                                                    <th class="align-middle">Shift</th>
                                                    <th class="align-middle">Date</th>
                                                    {%if request.user.username == "admin@gmail.com"%}
                                                    <th class="align-middle">Delete</th>
                                                    {%endif%}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for item in data%}
                                                <tr>
                                                    <td>
                                                        {{item.operator_class}}
                                                    </td>
                                                    <td>
                                                        {{item.vehicle_number}}
                                                    </td>
                                                    <td>
                                                        {{item.amount}}
                                                    </td>
                                                    <td>
                                                        {{item.shift_name}}
                                                    </td>
                                                    <td>
                                                        {{item.date}}
                                                    </td>
                                                    {%if request.user.username == "admin@gmail.com"%}
                                                    <td>
                                                        <a href="#" onclick="confirmDelete('{{item.id}}')"><i class="fa fa-trash text-danger"></i></a>
                                                    </td>
                                                    {% endif %}
                                                    <script>
                                                        function confirmDelete(id){
                                                            if(confirm("Are You Sure?")){
                                                             window.location.href="/delete-receipt/"+id;
                                                            }
                                                            else {
                                                                return false;
                                                            }
                                                        }
                                                    </script>
                                                </tr>
                                                {%endfor%}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end table-responsive -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>                </div>
                <!-- container-fluid -->
            </div>

            <!-- End Page-content -->

            <!-- Transaction Modal -->
            <div class="modal fade transaction-detailModal" tabindex="-1" role="dialog"
                aria-labelledby="transaction-detailModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="transaction-detailModalLabel">Order Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="mb-2">Product id: <span class="text-primary">#SK2540</span></p>
                            <p class="mb-4">Billing Name: <span class="text-primary">Neal Matthews</span></p>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <div>
                                                    <img src="{%static 'admin-assets/images/product/img-7.png'%}" alt=""
                                                        class="avatar-sm">
                                                </div>
                                            </th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14">Wireless Headphone (Black)
                                                    </h5>
                                                    <p class="text-muted mb-0">$ 225 x 1</p>
                                                </div>
                                            </td>
                                            <td>$ 255</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div>
                                                    <img src="{%static 'admin-assets/images/product/img-4.png'%}" alt=""
                                                        class="avatar-sm">
                                                </div>
                                            </th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                                                    <p class="text-muted mb-0">$ 145 x 1</p>
                                                </div>
                                            </td>
                                            <td>$ 145</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6 class="m-0 text-right">Sub Total:</h6>
                                            </td>
                                            <td>
                                                $ 400
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6 class="m-0 text-right">Shipping:</h6>
                                            </td>
                                            <td>
                                                Free
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6 class="m-0 text-right">Total:</h6>
                                            </td>
                                            <td>
                                                $ 400
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {%endblock%}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0">
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-1.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-2.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-3.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch">
                    <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-4.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>
                <div class="form-check form-switch mb-5">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-rtl-mode-switch">
                    <label class="form-check-label" for="dark-rtl-mode-switch">Dark RTL Mode</label>
                </div>


            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="{%static 'admin-assets/libs/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/metismenu/metisMenu.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/simplebar/simplebar.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/node-waves/waves.min.js'%}"></script>

    <!-- apexcharts -->
    <script src="{%static 'admin-assets/libs/apexcharts/apexcharts.min.js'%}"></script>

    <!-- dashboard init -->
    <script src="{%static 'admin-assets/js/pages/dashboard.init.js'%}"></script>

    <!-- App js -->
    <script src="{%static 'admin-assets/js/app.js'%}"></script>
</body>


</html>